<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RC6502_Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RC6502_Explorer.Properties.Settings>
            <setting name="LastPort" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Courier New, 9pt</value>
            </setting>
            <setting name="DownloadFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundColour" serializeAs="String">
                <value />
            </setting>
            <setting name="ForegroundColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="StartHEX" serializeAs="String">
                <value />
            </setting>
            <setting name="EndHEX" serializeAs="String">
                <value />
            </setting>
        </RC6502_Explorer.Properties.Settings>
    </userSettings>
</configuration>